@model IEnumerable<restaurant_sra.Models.Cuisine>

@{
    ViewData["Title"] = "Cuisine";
}
<p>
    <a asp-action="Create">Create New</a>
    <input type="submit" formaction="Index" value="Show All" class="btn btn-primary" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("CuisineID")
            </th>
            <th>
                @Html.DisplayName("RestaurantID")
            </th>
            <th>
                @Html.DisplayName("CuisineName")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuisineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuisineName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
