@model restaurant_sra.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuITemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuITemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiningTableId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiningTableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
