@model IEnumerable<restaurant_sra.Models.Restaurant>

@{
	ViewData["Title"]= "Restaurant";
}

<div>

	<table class="table">
		<thead>
			<tr>
				@using (Html.BeginForm("SearchRestaurent)", "Home", FormMethod.Post))
			{
				<th>	
					Restaurant Id:<input id="restaurent_id" type="text" name="RestaurantId"/>
					<input type="submit" id="rest_submit" value="Search" class="btn btn-primary"/>
						<input type="submit" formaction="Index" ivalue="Show All" class="btn btn-primary" />
				</th>
			}
			</tr>
			<tr>
				<th>
					@Html.DisplayName("No")
				</th>

				<th>
					@Html.DisplayName("RestaurantName")
				</th>

				<th>
					@Html.DisplayName("Address")
				</th>

				<th>
					@Html.DisplayName("MobileNo")
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model )
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem=> item.RestaurantID)
				</td>
				<td>
					@Html.DisplayFor(modelItem=> item.RestaurantName)
				</td>
				<td>
					@Html.DisplayFor(modelItem=> item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem=> item.MobileNo)
				</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
					</td>
			</tr>
			}
		</tbody>
	</table>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
	$("#rest_submit").click(function () {
		$.ajax({
			type: "POST",
			url: "/Home/Searchustomer",
			data: '{RestaurantID: "' + $("#restaurent_id").val() + '" }',
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (response) {
				//alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
			},
			failure: function (response) {
				alert(response.responseText);
			},
			error: function (response) {
				alert(response.responseText);
			}
		});
	});
			});
</script>


			
